<div class='row'>
	<div class='col s4 light-green accent-3'>
		<h5>Search tags</h5>
		<input type='text' placeholder='tags'>
		<input type="submit" value="Search" class="btn">
		<hr>
		<ul>
		<% if(article.tags && article.tags.length > 0){ %>
		<% article.tags.forEach(function(t){ %>
			<li>
				#<%= t.name %>
			</li>
		<% }); %>
	<% } else { %>
			<p>No tags yet</p>
		<% } %>
		</ul>
	</div>
	<div class='col s8 cyan accent-1'>
		<div class='container'>
			<h3> <%= article.title %> </h3>
			<br>
			<h4> <%= article.user.firstname %> <%= article.user.lastname %></h4>
		</div>
		<div class='container'>
			<p> <%= article.content %> </p>
		</div>
	</div>
</div>
<div class="purple accent-1">
	<h3>Comments:</h3>
	<% article.comments.forEach(function(c){ %>
		<div>
			<%= c.content %>
		</div>
		<hr>
	<% }); %>
</div>

<div class="amber darken-4">
	<h3>What are your thoughts?</h3>
	<form method="POST" action="/comments">
		<div class="form-group">
			<label>Comments:</label>
			<textarea name="content" class="form-control"></textarea>
		</div>
		<label>Auther:</label>
		<div class="input-field col s12">
			<select name="userId">
				<option value="" disabled selected>Choose Your name below</option>
			<label>Auther</label>	<% if(users){ %>
					<% users.forEach(function(a){ %>
					<option value="<%= a.id %>">
						<%= a.firstname %> <%= a.lastname %>
					</option>
					<% }); %>
				<% } %>
				</select>
	</div>
	<input type="hidden" name="articleId" value="<%= article.id %>">
	<input type="submit" value="Give your 2 cents" class="btn btn-warning">
	</form>
</div>